body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,p,input,select,textarea,form{margin: 0; padding: 0;}
body{font:14px/1.5 "ËÎÌå";}
img{border:none;}
ul,ol{list-style:none;}

textarea{resize:none;}
a{text-decoration:none;}
.top{
    background:black;
    width: 100%;
    height: 80px;
}
.top_left{
    width: 200px;
    height: 80px;
    float:left;
}
.top_middle{
 padding-left: 20px;
    width: 700px;
    height: 80px;
    float: left;
}
.top_middle li{
    float: left;
}
.top_middle a{
    font-size: 16px;
    color:#cccccc;
    display: inline-block;
    padding:0 30px;
    line-height: 80px;
    font-family: "Î¢ÈíÑÅºÚ";
}
.top_middle a:hover, a:active{
    background-color: slategrey;
    font-weight: bolder;
}
.top_middle span:after{
    content: "new";
    color: red;
    font-size: 8px;
    position: absolute;
    top:-6px;


}
.top_right{
    width: 320px;
    height: 80px;
    float: right;
}
.top_right a{
    display: inline-block;
    padding: 0 30px;
    font-size: 22px;
    color: #cccccc;
    line-height: 80px;
    overflow:hidden;
}
.top_right ul{
    float:right;
}
.top_right li{
    float: left;
}
.top_right li a:hover,a:active{
    background: slategrey;
}
.top_right .b{
    position: relative;
}
.top_right_b_hidden{
    position: absolute;
    top: 88px;
    width: 200px;
    height:0px;
  border: 0px;
    left: -65px;
    overflow: hidden;
    transition: all 0.3s ease;

}
.top_right_b_hidden:before{
    content: " ";
    height: 0px;
    width: 0px;
    display: block;
    position: absolute;
    border-width:8px;
    border-style:solid ;
    border-color:transparent transparent #E0E0E0 transparent;
    top: -16px;
    left: 90px;
}
.top_right .b:hover .top_right_b_hidden{
    height: 166px;
    border: 1px solid #E0E0E0 ;
    overflow:visible;
}

.login-text
{
    width: 200px;
    height:60px;
}
.login-text input{
    margin-bottom: 5px;
    margin-left: 15px;
}
.user-type
{
    width: 200px;
    height: 30px;
    font-size: 10px;
    text-indent: 65px;
}
.login-btn{
    width: 200px;
    height:40px;
    text-align: center;
}
.login-btn input{
    width: 100px;
    height: 40px;
}
.fetchpwd{
    width: 200px;
    height: 40px;
    line-height: 40px;
    padding-left: 140px;

}
.fetchpwd input{
     outline: none;
    border: none;
    background: none;
    font-size:8px;
  color: #005f9b;
}
.select{
    width: 1200px;
    margin:auto;

}
.lesson{
    width: 1200px;
    height: 60px;
    font-size: 20px;
    font-weight: bolder;
line-height: 60px;
    border-bottom: 1px solid #E0E0E0;
}
.lessonfl{
    width: 1200px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    border-bottom: 1px solid #E0E0E0;
    float: left;
}
.lessonfl li{
    float: left;
}
.lessonfl a{
    display: inline-block;
    padding-left: 35px;
    color: black;
}
